<table class="striped bordered">
    <theader>
      <tr>
        <th>k</th>
        <th>d</th>
      </tr>
    </theader>
    <tbody>
      <% 5.times do |i|%>
        <tr>
          <td><%= i %></td>
          <td><%= i + 1 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
